doctype html(lang='en_US')
html
  head
    base(href='/')
    title AMP
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="theme-color", content="#5f5eaa")
    meta(name="msapplication-TileColor", content="#5f5eaa")
    meta(name="msapplication-navbutton-color", content="#5f5eaa")
    meta(name="apple-mobile-web-app-status-bar-style", content="#5f5eaa")
    link(rel='stylesheet', href='./css/materialize.min.css', async)
    link(rel="manifest", href="./manifest.json")
    script(src='./js/jquery.min.js')
    script(src='./js/materialize.min.js')
    script(src='./js/font-awesome.js', async)
  body
    my-app Loading...